@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto&family=Silkscreen:wght@400;700&display=swap');

.App {
  text-align: center;
  background: linear-gradient(135deg, #FFE6F7, #B9E0FF);
}

button {
  border-radius: 0.5rem;
  padding: 0.38rem 0.9rem;
  border: none;
}

.header {
  font-family: Silkscreen;
  font-size: 3.75rem;
}

/* Variables */
:root {
  --font-family: "Roboto", sans-serif;
  --font-family: 'Montserrat', sans-serif;
  --font-family: 'Silkscreen';
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #6570d4;
  --secondary-color: #db9aca;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

/* Navbar */
.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--bg-color);
  box-shadow: 0 0.188rem 0.313rem rgba(0, 0, 0, 0.1);
}

Nav h1 {
  font-family: Silkscreen;
  font-style: var(--bolder-font);
  color: var(--primary-color);
  text-decoration: none;
}

Nav a {
  font-family: Silkscreen;
  font-style: var(--bolder-font);
  color: var(--primary-color);
  text-decoration: none;
}


Nav h1:hover {
  color: var(--secondary-color);
}

.navbar-link {
  color: var(--primary-color);
  transition: var(--transition);
  text-decoration: none;
  font-family: Montserrat;
  font-size: 1.125rem;
}

.navbar-link:hover {
  color: var(--secondary-color);
}

/* About */
.TC {
  animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-1.25rem);
    }
    50% {
        transform: translateY(1.25rem);
    }
    100% {
        transform: translateY(-1.25rem);
    }
}

#about {
  padding: 12.5rem 0;
}

.about-text {
  text-align: left;
}

.about-sub {
  font-family: Montserrat;
  font-size: 1.375rem;
  text-align: left;
}


/* Skills section */
.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 10rem;
}

.icon:hover {
  transform: scale(1.5);
}

/* Projects */
#projects {
  padding: 12.5rem 0;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: xx-large;
  color: var(--primary-color)
}

.card-text {
  font-family: Montserrat;
  font-size: large;
}

.card-footer {
  font-family: Montserrat;
  font-size: medium;
  color: white;
  font-weight: 500;
  background-color: #beb4debd;
}

/* Connect */
.connect-logo:hover {
  transform: scale(1.15);
}
